# Data Exploration

## API calls

In [1]:
# imports
import requests
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
url = "http://api.luftdaten.info/static/v1/data.json"
r = requests.get(url)

In [8]:
ipdata = r.json()

In [10]:
df = pd.DataFrame(ipdata)

In [11]:
df.head()

,id,sampling_rate,timestamp,location,sensor,sensordatavalues
0,1636205936,NaN,2020-08-25 20:59:02,"{'id': 33550, 'latitude': '49.36295590000', 'l...","{'id': 45487, 'pin': '7', 'sensor_type': {'id'...","[{'id': 3528580779, 'value': '17.90', 'value_t..."
1,1636205935,NaN,2020-08-25 20:59:02,"{'id': 11633, 'latitude': '42.716', 'longitude...","{'id': 22935, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528580782, 'value': '20.65', 'value_t..."
2,1636205933,NaN,2020-08-25 20:59:02,"{'id': 34749, 'latitude': '50.514', 'longitude...","{'id': 48940, 'pin': '15', 'sensor_type': {'id...","[{'id': 3528580768, 'value': '61.16', 'value_t..."
3,1636205932,NaN,2020-08-25 20:59:02,"{'id': 23699, 'latitude': '50.20490966044', 'l...","{'id': 37862, 'pin': '13', 'sensor_type': {'id...","[{'id': 3528580792, 'value': '15.19', 'value_t..."
4,1636205931,NaN,2020-08-25 20:59:02,"{'id': 7364, 'latitude': '50.87', 'longitude':...","{'id': 14555, 'pin': '7', 'sensor_type': {'id'...","[{'id': 3528580769, 'value': '19.40', 'value_t..."

In [13]:
df

,id,sampling_rate,timestamp,location,sensor,sensordatavalues
0,1636205936,NaN,2020-08-25 20:59:02,"{'id': 33550, 'latitude': '49.36295590000', 'l...","{'id': 45487, 'pin': '7', 'sensor_type': {'id'...","[{'id': 3528580779, 'value': '17.90', 'value_t..."
1,1636205935,NaN,2020-08-25 20:59:02,"{'id': 11633, 'latitude': '42.716', 'longitude...","{'id': 22935, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528580782, 'value': '20.65', 'value_t..."
2,1636205933,NaN,2020-08-25 20:59:02,"{'id': 34749, 'latitude': '50.514', 'longitude...","{'id': 48940, 'pin': '15', 'sensor_type': {'id...","[{'id': 3528580768, 'value': '61.16', 'value_t..."
3,1636205932,NaN,2020-08-25 20:59:02,"{'id': 23699, 'latitude': '50.20490966044', 'l...","{'id': 37862, 'pin': '13', 'sensor_type': {'id...","[{'id': 3528580792, 'value': '15.19', 'value_t..."
4,1636205931,NaN,2020-08-25 20:59:02,"{'id': 7364, 'latitude': '50.87', 'longitude':...","{'id': 14555, 'pin': '7', 'sensor_type': {'id'...","[{'id': 3528580769, 'value': '19.40', 'value_t..."
...,...,...,...,...,...,...
43795,1636161936,NaN,2020-08-25 20:53:53,"{'id': 10510, 'latitude': '47.942', 'longitude...","{'id': 11486, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528485619, 'value': '2.37', 'value_ty..."
43796,1636161935,NaN,2020-08-25 20:53:53,"{'id': 5238, 'latitude': '43.508', 'longitude'...","{'id': 10383, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528485593, 'value': '5.55', 'value_ty..."
43797,1636161932,NaN,2020-08-25 20:53:53,"{'id': 17401, 'latitude': '46.20198170000', 'l...","{'id': 30637, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528485965, 'value': '4.15', 'value_ty..."
43798,1636161930,NaN,2020-08-25 20:53:53,"{'id': 23689, 'latitude': '50.88390300000', 'l...","{'id': 37849, 'pin': '1', 'sensor_type': {'id'...","[{'id': 3528485963, 'value': '24.30', 'value_t..."
43799,1636161929,NaN,2020-08-25 20:53:53,"{'id': 14489, 'latitude': '48.18', 'longitude'...","{'id': 26929, 'pin': '11', 'sensor_type': {'id...","[{'id': 3528485598, 'value': '29.07', 'value_t..."